@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>[01.01] Warfare is important to a nation. It is a matter of life and death. It is the way to survival or to destruction. So study it.

[01.02] Study the five factors of warfare: Way, Heaven, Ground, General, and Law. Calculate your strength in each and compare them to your enemy's strengths.

[01.03] The 'Way' is the strong bond your people have with you. Whether they face certain death or hope to come out alive, they never worry about danger or betrayal.

[01.04] 'Heaven' is dark and light, cold and hot, and the seasonal constraints. 'Ground' is high and low, far and near, obstructed and easy, wide and narrow, and dangerous and safe.

[01.05] 'General' is wise, trustworthy, benevolent, brave, and disciplined.

[01.06] 'Law' is organization, the chain of command, logistics, and the control of expenses.

[01.07] Every general has heard of these five factors [Way, Heaven, Ground, General, Law]. One who heeds them will be victorious; one who does not heed them will not be victorious.

[01.08] Therefore, calculate and compare your levels of strength in them [Way, Heaven, Ground, General, Law] to your enemy's, and determine whether you are superior.

[01.09] Ask: Which ruler has the Way; which general has the ability; which has advantage in Heaven and Ground; which implemented Law; which army is resilient; which officers and soldiers are trained; which rewards and punishes clearly. By asking these types of questions, I know who will win and who will lose.

[01.10] A general who listens to my principles, and applies them, will surely be victorious; keep him. A general who does not listen to my principles, and does not apply them, will surely be defeated; remove him.

[01.11] Look for advantages when applying my principles and you will gather sufficient force to take on unforeseen situations.

[01.12] Force is tilting the balance of power to your side by gathering advantages.

[01.13] Warfare is the Way of deception.

[01.14] Therefore, if able, appear unable; if active, appear inactive; if near, appear far; if far, appear near.

[01.15] If your enemies have advantage, bait them; if they are confused, capture them; if they are numerous, prepare for them; if they are strong, avoid them; if they are angry, disturb them; if they are humble, make them haughty; if they are relaxed, toil them; if they are united, separate them.

[01.16] Attack where your enemies are not prepared; go to where they do not expect.

[01.17] This strategy leads to victory in warfare, so do not let the enemy see it.

[01.18] Before doing battle, one calculates in the temple and will win, because many calculations were made; before doing battle, one calculates in the temple but will lose, because few calculations were made.

[01.19] Many calculations mean victory; few calculations mean no victory; then how much worse when there are no calculations? From this perspective I can clearly predict victory or defeat.
</p>
