
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
<br/>
<h3>@ViewBag.Message</h3><br/>
<br/>
<div class="row">
    <div class="col-md-4">
        <img class="icon1" src="http://www.megaicons.net/static/img/icons_title/8/178/title/easter-bell-icon.png"/>
        <h2>Movies</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://www.megaicons.net/static/img/icons_title/8/178/title/easter-bell-icon.png">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="icon2" src="http://www.megaicons.net/static/img/icons_title/8/178/title/easter-bell-icon.png" />
        <h2>BasketBall</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="icon3" src="http://www.megaicons.net/static/img/icons_title/8/178/title/easter-bell-icon.png" />
        <h2>Coding</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img class="icon2" src="http://www.megaicons.net/static/img/icons_title/8/178/title/easter-bell-icon.png" />
        <h2>Swimming</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="icon2" src="http://www.megaicons.net/static/img/icons_title/8/178/title/easter-bell-icon.png" />
        <h2>Games</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="icon2" src="http://www.megaicons.net/static/img/icons_title/8/178/title/easter-bell-icon.png" />
        <h2>Surfing</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

