@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1></h1>
    <p class="lead"><br/></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <img class="icon2" src="http://www.megaicons.net/static/img/icons_title/8/178/title/easter-bell-icon.png" />
        <h2>Push</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="icon2" src="http://www.megaicons.net/static/img/icons_title/8/178/title/easter-bell-icon.png" />
        <h2>Buy</h2>
        <p>ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development..</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img class="icon2" src="http://www.megaicons.net/static/img/icons_title/8/178/title/easter-bell-icon.png" />
        <h2>Sell</h2>
        <p>ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
